@import url('https://fonts.googleapis.com/css2?family=Alata&family=Bai+Jamjuree:wght@400;600&family=Barlow:wght@600&family=Commissioner:wght@400;500;700&family=DM+Serif+Display&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=Fugaz+One&family=Hanken+Grotesk:wght@500&family=Josefin+Sans:wght@300&family=Karla:wght@400;700&family=League+Spartan&family=Montserrat:wght@100&family=Nunito:wght@200&family=Open+Sans:wght@400;700&family=Outfit&family=Overpass:wght@100;300;600&family=Poppins:wght@600&family=Raleway:wght@400;700&family=Ubuntu:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




@layer components{
  .default{
    @apply font-fontRaleway
  }
  .bgc-intro-email{
    @apply bg-[#1c2431]
  }
  .bgc-main{
    @apply bg-[#181f2a]
  }
  .bgc-footer{
    @apply bg-[#0b1523]
  }

  .nav-a{
    @apply text-white text-[14px] font-fontRaleway opacity-70 ml-[1rem]
            xl:ml-[2rem] xl:text-[rem]
  }

  .bg-header{
    @apply text-white
  }
  .btn-header{
    @apply text-white font-bold rounded-full bg-gradient-to-r from-[#65e2d9] to-[#339ecc] px-[5rem] py-[1rem]
  }
  
  .sec-sec1{
    @apply flex flex-col items-center xl:flex-row xl:justify-between
  }
  .card-sec1{
    @apply text-white max-w-[400px] flex flex-col items-center text-center my-[5rem]
  }
  .h-card-sec1{
    @apply font-fontRaleway font-bold text-[1.4rem] mt-[2rem] mb-[1rem]
  }
  .p-card-sec1{
    @apply font-fontRaleway opacity-70 px-[1rem]
            xl:px-0
  }

  .h-sec2{
    @apply font-fontRaleway font-bold text-[1.1rem]  max-w-[400px] leading-[3.5rem] 
            xl:text-[2.6rem] 
  }
  .p-sec2{
    @apply font-fontRaleway text-[14px] max-w-[550px] my-[1rem]
            xl:text-[1rem]
  }
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

:root{
  --c-Dark-Blue--intro-and-email-sign-up-background: #1c2431;
  --c-Dark-Blue-main-background: #181f2a;
  --c-Dark-Blue-footer-background: #0b1523;
  --c-Dark-Blue-testimonials-background: #202a3c;

  --c-Cyan-inside-call-to-action-gradient: #65e2d9;
  --c-Blue-inside-call-to-action-gradient: #339ecc;
  --c-Light-Red-error: #ff4242;

  --ff-Raleway:'Raleway', sans-serif;
  --ff-OpenSans:'Open Sans', sans-serif;

  --fs:14px;

  --fw-s:400;
  --fw-m:700;
}


